body {
    font-family: Arial, sans-serif;
    background: rgb(36, 121, 107);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.icon-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmed-icon {
    font-size: 48px;
    color: green;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

.back-button {
    padding: 10px 20px;
    background-color: rgb(36, 121, 107);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgb(69, 133, 122);
}
